.footer {
  background-color: transparent;
  padding: rem(92) 0;
  &__body {
    justify-content: space-between;
    display: flex;
  }
  &__column {
    &:nth-child(1) {
      width: fit-content;
    }
  }
  &__column-title {
    font-size: 1.125rem;
    text-transform: uppercase;
    color: var(--clr-orange-400);
    font-family: var(--ff-angelus);
    margin-bottom: rem(26);
  }
  &__copyright {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    color: var(--clr-footer-text);
    font-size: rem(10);
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--ff-intro);
    margin-bottom: rem(34);
    max-width: rem(250);
    span {
      color: var(--clr-light-400);
      text-transform: uppercase;
      font-size: rem(14);
    }
  }
  &__links {
    display: flex;
    .footer__column {
      &:nth-child(1) {
        margin-right: rem(90);
      }
      &:nth-child(2) {
        margin-right: rem(141);
      }
    }
  }
}

.footer-list {
  display: grid;
  grid-gap: rem(15);
  &__link {
    text-transform: uppercase;
    color: var(--clr-footer-text);
    font-family: 'Intro';
    font-size: rem(14);
    transition: 400ms ease;
    &:hover{
      color: var(--clr-orange-400);
    }
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(26) 2rem;
  position: relative;
  &::before {
    @include psevdo;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #787878;
    height: rem(2);
    opacity: .3;
  }
  &__item {
    width: rem(88);
    height: rem(31);
    background-color: #787878;
    position: relative;
    &:nth-child(1) {
      background-image: url('../../img/footer/vote-image.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
      &::before {
        @include psevdo;
        right: rem(-15);
        top: 0;
        width: rem(2);
        opacity: .3;
        height: 285%;
        background-color: #787878;
      }
    }
    &:nth-child(2) {
      &::before {
        @include psevdo;
        right: rem(-15);
        top: 0;
        width: rem(2);
        opacity: .3;
        height: 285%;
        background-color: #787878;
      }
    }
  }
}

@include max-width(85.375em) {
  .footer {
    &__body {
      grid-gap: 3rem;
      flex-wrap: wrap;
    }
    &__column-title {
      font-size: 1rem;
    }
    &__copyright {
      font-size: rem(11);
      span {
        font-size: inherit;
      }
    }
    &__dev-image {
      width: fit-content;
      img {
        max-width: rem(100);
      }
    }
    &__links {
      grid-gap: 4rem;
      .footer__column {
        &:nth-child(1) {
          margin-right: 0;
        }
        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }
  }
  .footer-grid {
    &__item {
      width: rem(55);
      height: rem(15);
    }
  }
  .footer-list {
    &__link {
      font-size: rem(11);
    }
  }
}
