.home {
  margin-top: rem(28);
  margin-bottom: rem(137);
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    margin-bottom: rem(27);
  }
  &__body {
    @include dfc;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  &__content {
    margin-top: rem(525);
    position: relative;
    &::before {
      @include psevdo;
      top: -4rem;
      left: 50%;
      transform: translateX(-50%);
      width: rem(1125);
      height: rem(312);
      background-image: url('../../img/home/pseudo-content.png');
      z-index: -1;
    }
  }
  &__info {
    max-width: rem(703);
    margin-inline: auto;
    margin-bottom: rem(125);
    p {
      font-size: rem(21);
      font-family: 'Intro';
      text-align: center;
    }
  }
  &__button {
    display: grid;
    justify-content: center;
  }
  &__start {
    transition: all 400ms ease;
    color: var(--clr-orange-500);
    padding: .5rem;
    min-height: rem(132);
    background-image: url('../../img/btn/large-btn-overlay.png');
    min-width: rem(441);
    font-size: rem(30);
    &:hover {
      transform: translateY(rem(-5));
    }
  }
}

@include max-width(75em) {
  .home {
    &__logo {
      width: 37.5rem;
    }

  }
}

@include max-width($media-hd) {
  .home {
    &__logo {
      top: 1.5rem;
      max-width: rem(600);
    }
    &__content {
      margin-top: rem(400);
    }
    &__start {
      min-width: rem(340);
      min-height: rem(90);
      font-size: 1.375rem;
    }
    &__info {
      margin-bottom: rem(30);
      p {
        font-size: 1.125rem;
      }
    }
  }
}

@include max-width(43.75em) {
  .home {
    &__logo {
      width: 35rem;
      top: 2.7rem;
    }
    &__content {
      &::before {
        height: 80% !important;
      }
    }
    &__info {
      margin-inline: auto;
      max-width: rem(370);
    }
    &__start {
      min-width: rem(250);
      min-height: 4.25rem;
      font-size: 1.125rem;
    }
    margin-bottom: 7rem;
  }
}

@include max-width(37.5em) {
  .home {
    &__logo {
      top: 5rem;
      width: rem(360);
    }
    &__content {
      margin-top: rem(300);
    }
    &__info {
      p {
        font-size: rem(16);
      }
    }
  }
}
