@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'DX Angelus Mediaval';
  src: url("../../fonts/Angelus-Medieval.woff") format("woff"),  url("../../fonts/Angelus Medieval.ttf") format("ttf");
}

@font-face {
  font-family: 'Intro';
  src: url("../../fonts/Intro.woff") format("woff"),
  url("../../fonts/Intro.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url("../../fonts/Intro-Inline.woff") format("woff"),
  url("../../fonts/Intro-Inline.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

