@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'DX Angelus Mediaval';
  src: url("../../fonts/Angelus-Medieval.woff") format("woff"),  url("../../fonts/Angelus Medieval.ttf") format("ttf");
}

@font-face {
  font-family: 'Intro';
  src: url("../../fonts/intro_regular.woff") format("woff"),
  url("../../fonts/intro_regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url("../../fonts/intro_bold.ttf") format("woff"),
url("../../fonts/intro_bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

